body {
    background-color: beige;
}

h1 {
    color: black;
    text-shadow: 2px 2px 5px grey;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
}

table {
    text-align: center;
    width: 100%;
}

.header {
    background: azure;
    background: -moz-linear-gradient(to right,lightblue,azure);
    margin: auto;
    text-shadow: 2px 2px 3px red;
}